.firstimg{
    background-image: url(../images/Rectangle.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    font-size:35px;
    width: 100%;
    height: 800px;
    position: relative;
  
}
/*
.bg{
    z-index:1111;
   background-color: #ee566c;
    opacity: 0.8;   
}
*/
p{
    font-size:41px;
}
.firstimg .firstimgg{
    position: absolute;
    bottom: 0px;
    text-align: center;
      right: 5%;
    
}
   .firstimg .firstlogo img{
       vertical-align: middle;
    background: #fff;
    padding: 10px;
    width: 150px;
}
.CLICK{
    background: #000;
    width: 150px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    
}
.CLICK:hover{
     color: #fff;
    text-decoration: none;
}
.second{
    background-image: url(../images/indian-mutton-biryani-prepared-basmati-rice-served-with-yogurt-dip-moody-background-selective-focus.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #ff2141;
    font-size:35px;
    width: 100%;
    height: 800px;
    position: relative;
    
}
.second .secondd{
    position: absolute;
    bottom: 0px;
    text-align: center;
      right: 5%;
    
}
.CLICK2{
    background: #000;
    width: 150px;
    text-align: center;
    color: #fff;
        text-decoration: none;

}
.CLICK2:hover{
     color: #fff;
    text-decoration: none;
}
@media screen and (max-width: 990px) {
    .firstimg .firstimgg{
    position: absolute;
    bottom: 0px;
    text-align: center;
              right: 5%;

    
}
    .second .secondd{
    position: absolute;
    bottom: 0px;
    text-align: center;
          right: 0%;

}
    
}